<h3><%= way %> way</h3>

<form class="form" name="member_details" action="<%= action_url %>" accept-charset="UTF-8" method="patch">
  <fieldset class="form__fieldset">
    <div class="field">
      <label class="field__label" for="user_login">Login</label>
      <input class="field__control" type="text" value="<%= user.login %>" name="user[login]" id="user_real_name">
    </div>
  </fieldset>
</form>
